.select2-choice {
    padding-top: 5px !important;
    min-height: 41px;
    overflow-y: auto;
}

.select2-container .select2-choice .select2-arrow b{
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 5px;
}

.select2-default {
    color: #444 !important;
}